
<h2> List of Celebrities </h2>

<div class="container">
  <div class="row">

{{#each celebrities}}
   <div class="col-sm-4">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3>{{this.name}}</h3>
      <a href="celebrities/{{this._id}}">More information</a> 
      <form action="/celebrities/{{this._id}}/delete" method="post">
        <button value="submit">Delete</button>
      </form>
    </div>
    </div>
</div> 
{{/each}}

</div>
</div>
