<div class="show-container container">
    <h3>{{name}}</h3>
    <h3>{{occupation}}</h3>
    <p><i>"{{catchPhrase}}"</i></p>
    Movies: 
    {{#each movies}}
    <h3>{{title}}</h3>
    {{/each}}
</div>